Options -Multiviews

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?url=$1 [L]

php_value upload_max_filesize 6M
php_value post_max_size 15M
php_value memory_limit 512M
